$border-radius: 8px;

.App {
  padding: 10px;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  // background: RGB(20,20,30);
  background: #1f2424;
}

.service-panel-container {
  margin: 10px;
  background: rgb(40, 40, 45);
  color: white;
  border-radius: $border-radius;
  padding: 10px;
  // padding-bottom: 0;
  .service-panel-title {
    border-bottom: solid 1px grey;
    margin-bottom: 10px;
    p {
      font-size: 1.2em;
      padding: 5px;
      padding-bottom: 3px;
      margin: 0;
    }
  }
}

.service-panel {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(calc(16em + 20px), 0.5fr));
}

.panel-card {
  flex: 1 0 20%;
  flex-grow: 1;
  min-width: 16em;
  border-radius: $border-radius;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  background: lighten(rgb(40, 40, 45), 10%);
  .panel-title {
    text-align: center;
    padding: 5px 0;
    border-bottom: solid 1px grey;
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
  }

  &.smart-light-card {
    .card-title-bar {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      border: solid 1px grey;
      border-width: 0 0 1px 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
      position: relative;
      & span {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        & p {
          flex-shrink: 1;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow-x: hidden;
        }
        & svg {
          height: 100%;
          margin-left: 10px;
        }
      }
    }
    display: flex;
    flex-direction: column;
    .color-block {
      margin-top: 10px;
      border-radius: 5px;
      flex: 1 0 0;
      width: 100%;
      min-height: 2em;
      color: hsl(240, 100, 100);
    }
    .color-sliders {
      position: relative;
      display: block;
      .slider-disabled-screen {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        line-height: 1.5;
        div {
          position: relative;
          display: block;
          width: 100%;
          height: 1.1em;
          margin: 2px 0 6px 0;
          border-radius: 5px;
          cursor: not-allowed;
          background: rgba(0, 0, 0, 0.8) url("images/hash.png") repeat scroll 0%
            0%;
        }
      }
    }
    & button,
    div.no-connection {
      background: 0;
      font-size: 2em;
      border: 0;
    }
    & p {
      margin: 0;
      text-align: center;
    }
  }

  &.smart-plug-card {
    & > button {
      width: 100%;
      background: 0;
      font-size: 6em;
      border: 0;
    }
    & > p {
      border-bottom: solid 1px grey;
      padding-bottom: 5px;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.WS2812bPanel {
  // width: 100%;
  // max-width: calc((100% / 2) - 20px);
  // min-width: 28em;
  // display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  & > div:first-child {
    display: flex;
    justify-content: center;
  }
  .WS2812b-ring-ui {
    display: inline-block;
  }
  .WS2812b-control-panel {
    display: inline-block;
  }
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider {
  flex: 6;
  -webkit-appearance: none;
  width: 100%;
  height: 1em;
  border-radius: 5px;
  &[property="hue"] {
    background: linear-gradient(
      to right,
      rgb(254, 0, 0),
      rgb(254, 254, 0),
      rgb(0, 254, 0),
      rgb(0, 254, 254),
      rgb(0, 0, 254),
      rgb(254, 0, 254),
      rgb(254, 0, 0)
    );
  }
  &[property="sat"] {
    background: linear-gradient(to right, hsl(49, 10%, 65%), hsl(49, 90%, 65%));
  }
  &[property="bri"] {
    background: linear-gradient(to right, hsl(49, 10%, 20%), hsl(49, 90%, 65%));
  }
  &[disabled=""] {
    // background: url("/images/hash.png") repeat scroll 0% 0%;
  }
  cursor: pointer;
  outline: none;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    box-sizing: border-box;
    width: calc(2em + 2px);
    height: calc(1em + 2px);
    cursor: pointer;
    border-radius: 4px;
    border: solid 3px lighten(rgb(40, 40, 45), 10%);
    //outline: 5px solid #333;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    &:active {
      cursor: grab;
    }
    // transform: scale(1.2);s
  }
  &::-moz-range-thumb {
    background: white;
    box-sizing: border-box;
    width: calc(2em + 2px);
    height: calc(1em + 2px);
    cursor: pointer;
    border-radius: 4px;
    border: solid 3px lighten(rgb(40, 40, 45), 10%);
    //outline: 5px solid #333;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    &:active {
      cursor: grab;
    }

    // transform: scale(1.2);s
  }
}

.mqtt-device-panel {
  background: lighten(rgb(40, 40, 45), 10%);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  svg {
    // margin-left: 10px;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .info-icon {
    padding: 0 5px;
    cursor: pointer;
  }
}


.volume-panel-card {
  display: flex;
  flex-direction: column;

  .sketch-container {
    flex: 1 0 0;
    min-height: 80px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

  .panel-content {
    flex-grow: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    p {
      text-align: center;
      font-size: 3.2em;
      margin: 0;
      padding: 0;
      padding-bottom: 0.5em;
    }
  }
  .loading-icon {
    flex: 1 0 0;
    min-height: 80px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  .panel-value {
    border-top: solid 1px grey;
    text-align: center;
    padding: 5px 0;
    border-top: solid 1px grey;
  }
}

.keypad-buttons {
  // width: 100%;
  margin: 10px;
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    // display: block;
    width: 100%;
    flex-direction: row;
    li {
    }
  }
}
.keypad-button {
  display: inline-block;
  flex-grow: 1;
  margin: 4px;
  min-width: 50px;
  height: 50px;
  background: grey;
  border-radius: 2px;

  &:hover {
    background: lighten(blue, 20%);
  }
  &.active,
  &:active {
    background: lighten(blue, 10%);
  }
  &.inactive {
    background: grey;
    opacity: 0.1;
  }
}

.sensor-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sensor-panel-container {
  display: flex;
  // width: 100%;
  flex-direction: column;
  // flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  // background: lightpink;
  // padding: 5px;
};

.sensor-panel-sub-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 0;
}

.sensor-sub-panel {
  background: lighten(#404048, 5%);
  border-radius: 5px;
  margin: 2.5px 5px;
  flex-grow: 1;
  padding: 5px;
  min-width: 10em;

  .sensor-title {
    align-items: center;
    text-align: center;
    border-bottom: solid 1px grey;
  }
  .sensor-readings {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    padding: 2px 0;
    svg {
      color: darken(white, 40%);
    }

    // text-align: center;
    .sensor-temperature,
    .sensor-humidity {
      flex-grow: 1;
      text-align: center;
      display: inline-block;
      padding: 2px 0;
      background: lighten(#404048, 10%);
      margin: 5px;
      margin-bottom: 0;
      border-radius: 5px;
      // margin: auto;
      p {
        // font-size: 1.2em;
      }
    }
  }
}

.sensor-title {
  font-size: 1.2em;
}

@media only screen and (min-width: 600px) {
  .service-panel {
    grid-template-columns: repeat(auto-fit, minmax(calc(16em + 20px), 0.5fr));
  }
  .panel-card {
    flex-grow: 1;
    // min-width: calc((100% / 4) - 20px);
    // max-width: calc((100% / 4) - 20px);
  }
}

@media only screen and (max-width: 600px) {
  .service-panel {
    // justify-content: space-around;
    // justify-content: left;
  }
  .panel-card {
    flex-grow: 1;
    grid-template-columns: repeat(auto-fit, minmax(calc(16em + 20px), 1fr));

    // width: 100%;
    // min-width: calc((100% / 4) - 20px);
    // max-width: calc((100% / 4) - 20px);
  }
}
